
body {
    background-color: darkgray;
}

#main_title {
    color: darkgoldenrod;
    background-color: black;
    font-family: "Courier New", serif;
    text-align: center;
}

#second_title {
    color: floralwhite;
    font-family: "Courier New", serif;
}

li {
    color: black;
    font-family: "Courier New", serif;
    font-size: larger;
}

a {
    text-decoration: none;
    color: red;
    font-size: 24px;
    font-family: "Courier New", serif;
}

h2 {
    color: darkred;
    font-family: "Courier New", serif;
}

h3 {
    color: ghostwhite;
    background-color: black;
    font-family: "Courier New", serif;
}

#info {
    color: darkred;
    font-family: "Courier New", serif;
    font-size: larger;
}

.steps {
    color: floralwhite;
    font-family: "Courier New", serif;
    font-size: larger;
}

p {
    font-family: "Courier New", serif;
    color: black;
}

.times {
    font-size: larger;
    font-family: "Arial Black", serif;
}

.appetite {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
}

th, td {
    border: solid black;
    padding: 10px;
}

form {
    padding: 10px;
    width: 280px;
}

label {
    margin-top: 10px;
    display: block;
}

input, textarea {
    background-color: antiquewhite;
}

input {
    padding: 3px;
    border: 1px solid red;
    border-radius: 10px;
    width: 200px;
}

button[type=submit] {
    width: 100px;
    margin-left: 5px;
    box-shadow: 1px 1px 1px antiquewhite;
    cursor: pointer;
}

h1 {
    color: darkgoldenrod;
    background-color: black;
    font-family: "Courier New", serif;
}

ol {
    list-style-type: square;
}

ul {
    list-style-type: square;
}

img {
    width: 300px;
    height: 200px;
}